In [91]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import os

In [92]:
#ChromeDriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [93]:
#Visit Mars page
url= "https://mars.nasa.gov/news/"
browser.visit(url)

In [94]:
#Scrape the webpage
html=browser.html
soup= BeautifulSoup(html, 'html.parser')

In [95]:
#Collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.
news_p = soup.find("div", class_="list_text")
news_title= news_p.find("div", class_="content_title").text
print(news_p)
print(news_title)

<div class="list_text"><div class="list_date">November 20, 2019</div><div class="content_title"><a href="/news/8554/two-of-a-space-kind-apollo-12-and-mars-2020/" target="_self">Two of a Space Kind: Apollo 12 and Mars 2020</a></div><div class="article_teaser_body">Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.</div></div>
Two of a Space Kind: Apollo 12 and Mars 2020

In [96]:
#JPL URL
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [97]:
html=browser.html
soup= BeautifulSoup(html, 'html.parser')
image= soup.find("img", class_="thumb")["src"]
img= "https://jpl.nasa.gov"+image
featured_image_url= img
featured_image_url

'https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA23563-640x350.jpg'

In [98]:
#Mars Weather from Twitter
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [99]:
html_weather= browser.html
soup=bs(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'InSight sol 348 (2019-11-19) low -102.5ºC (-152.5ºF) high -23.2ºC (-9.8ºF)\nwinds from the SSE at 5.1 m/s (11.5 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 6.80 hPapic.twitter.com/iZwojPj9au'

In [100]:
#Mars Facts
url_hemi= "https://space-facts.com/mars/"

In [105]:
table= pd.read_html(url_hemi)
table[0]
reformat_df = table[0]
reformat_df. columns =["Parameter", "Values"]
reformat_df.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [106]:
html_table = reformat_df.to_html()
html_table = html_table.replace("\n","")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [103]:
#Mars Hemispheree
url_hemisphere ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [ ]:
#Cerebreus

hemisphere_image_urls=[]

In [118]:
import numpy as np
combined_list=pd.DataFrame(np.column_stack([news_title, news_p, featured_image_url,reformat]),
                               columns=['Title', 'News', 'Featured','Facts'])

KeyError: 0

In [114]:

#To connect
import os
import pymongo
from pymongo import MongoClient

#Create connection variable
conn = 'mongodb://localhost:27017'
pb_db= 'Mars'
pb_cl= 'Facts'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client[Mars_DB]
cl = db[Facts]

# Drops collection if available to remove duplicates
#db.cl.drop()

#MongoDB Dict
insert_to_mongo={

NameError: name 'Mars_DB' is not defined